$screen-xs-min: 320px;    // landscape phones
$screen-sm-min: 576px;    // landscape phones
$screen-md-min: 768px;    // tablets
$screen-lg-min: 992px;    // desktops
$screen-xl-min: 1200px;   // large desktops

