@import "mixins";
@import 'globalvariables';

.index {
  a {
    @include fancy_underline;
  }
}

.icon {
  width: 2.5em;
  height: 3em;
  margin: 0em 0.5em;

  svg {
    color: black;
    width: 100%;
    height: 100%;
    transition: color 0.3s ease-in-out;
  }

  svg:hover {
    color: darken($link-color, 25%);
    fill: lighten($link-color, 5%);
  }
}

#icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0em;
}

#logo {
  margin: 0px;
  text-decoration: none;
  font-size: 3em;
  line-height: 1;
  text-align: center;

  @media screen and (min-width: $screen-xl-min) {
    text-align: right;
  }
}

#profile-pic {
  height: 450px;
  margin-bottom: 1em;
}

#hello-text {
  font-size: 1.5em;
  margin-bottom: 0;
  color: #b58900;
}

#goodbye-text {
  margin-top: 0;
  font-size: 1.3em;
  color: #b58900;
}

#highlight {
  font-size: 1.1em;
  margin-bottom: 0;
  color: #b58900;
}

.current {
  font-size: 1em;

  a {
    background-color: #eee8d5;
    padding: 2px 4px;
  }
}

.index-text {
  margin-top: 0;
}

.left {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  @media screen and (min-width: $screen-xl-min) {
    align-items: flex-end;
    justify-self: end;
  }
}

.wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100%;

  @media screen and (min-width: $screen-xl-min) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.wrapper-item {
  max-width: 90%;
  margin: 30px auto;

  @media screen and (min-width: $screen-md-min) {
    max-width: 65%;
  }

  @media screen and (min-width: $screen-xl-min) {
    margin: 30px 40px;
  }
}

.item {
  text-align: center;
  padding: 10px 40px;
}

