@charset "utf-8";
@import "normalize";
@import "highlighting";
@import url('https://fonts.googleapis.com/css?family=Lato');

.post-header {
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
}

.author {
  display: inline-block;
}

.tag-list {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 3rem;

  li {
    display: inline;
  }

  li:not(:last-child):after {
    content: ', ';
  }
}

.post-body {
  padding-top: 2rem;
	border-top: 1px solid #b58900;

  img {
	  display: block;
  }
}

// used in articles index page and individual articles
.article-container {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;

  img {
    width:100%;
    margin: 1rem 0;
  }
}

.nav_btn {
  color: #b58900;
}

.icon {
  width: 2.5em;
  height: 3em;
  margin: 0em 0.5em;
}

#icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0em;
}

// global for all images
img {
    box-shadow: 5px 5px 5px grey;
}

a {
  text-decoration: none;
  color: #b58900;
}

a:hover {
  text-decoration: underline;
}

// only used on blog index page
h2 {
  margin-bottom: 0;
}

// only used on blog index page
h3 {
  opacity: 0.5;
  line-height: 0.5;
  font-size: 1em;
  margin: 0;
}

// this is only used in blog so far
h4 {
  border-bottom: 1px solid #eee8d5;
  padding-bottom: 10px;
}

html {
  height: 100%;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1.1em;
  line-height: 1.9;
}

main {
  flex: 1;
}

body {
  color: #657b83;
  background-color: #fdf6e3;
  font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  a {
    margin: 1.5em 1em;
  }
}

#logo {
  margin: 0px;
  text-decoration: none;
  font-size: 3em;
  text-align: right;
  line-height: 1;
}

#footer {
   display: flex;
   justify-content: center;
   width:100%;
   height:60px;   /* Height of the footer */
   background-color:#657b83;
   color: #9aa8ad;
}

#profile_pic {
  width: 220px;
  height: 300px;
}

#bottom-menu {
  max-width: 100px;
  margin: 10px auto;
}

#greeting1 {
  font-size: 1.5em;
  margin-bottom: 0;
  color: #b58900;
}

#greeting2 {
  margin-top: 0;
  font-size: 1.3em;
  color: #b58900;
}

#highlight {
  font-size: 1.1em;
  margin-bottom: 0;
  color: #b58900;
}

@font-face {
    font-family: "Hermit";
    src: url(/fonts/Hermit-Regular.woff2) format("woff");
}

.left {
  display: flex;
  align-items: flex-end;
  flex-flow: column nowrap;
}

.wrapper {
   flex-flow: row wrap;
   display: flex;
   align-items: center;
   justify-content: center;
   align-content: center;
   height: 100%;
   margin: auto;
}

.item {
  width: 500px;
  padding: 30px 40px;
}

.note {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.image_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 750px;
}

.project {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #eee8d5;
  padding: 0 1rem;

  h2 {
    text-decoration: none;
    color: #b58900;
  }

  img {
    width:100%;
    margin: 1rem 0;
  }

  #bottom-menu {
    max-width: 400px;
    text-align: center;
  }
}

@media all and (max-width: 1180px) {
  .left {
    align-items: center;
  }

  .item {
    text-align: center;
    padding: 10px 40px;
  }

  #logo {
    text-align: center;
  }

  .article-container {
    max-width: 700px;
    padding: 0 1.5rem;
  }
}
