@charset "utf-8";
@import "normalize";
@import "highlighting";
@import "index";
@import "blog";
@import "projects";
@import url('https://fonts.googleapis.com/css?family=Lato');

img {
    box-shadow: 5px 5px 5px grey;
}

a {
  text-decoration: none;
  color: #b58900;
}

a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
}

html {
  height: 100%;
}

body {
  color: #657b83;
  background-color: #fdf6e3;
  font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 1.1em;
  line-height: 1.9;
}

#nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  a {
    margin: 1em;
  }
}

#footer {
   display: flex;
   justify-content: center;
   width:100%;
   height:60px;   /* Height of the footer */
   background-color:#657b83;
   color: #9aa8ad;
}

@font-face {
    font-family: "Hermit";
    src: url(/fonts/Hermit-Regular.woff2) format("woff");
}
