<% wrap_layout :layout do %>
	<div class="post">
      <div class="article">
   		<%= yield %>
   	</div>
	<div id="bottom-menu">
		<a href="#top">Top</a>
		|
		<%= link_to 'Back', '/blog.html' %>
   </div>
<% end %>