<div class=wrapper>
  <div class="item">
    <div class="left">
      <img id="profile_pic" alt="Photo of Stoyan" src='/images/photos/portrait_photo.jpg'>
      <div id="icons">
        <a class="icon" href='https://github.com/shukerov'>
          <%= partial '/images/icons/github.svg' %>
        </a>
        <a class="icon" href='https://instagram.com/sshukerov'>
          <%= partial '/images/icons/instagram.svg' %>
        </a>
        <a class="icon" href='mailto:sbshukerov@gmail.com'>
          <%= partial '/images/icons/email.svg' %>
        </a>
      </div>
      <h1 id="logo">Stoyan<br>Shukerov</h1>
    </div>
  </div>
  <div class="item">
    <p id="greeting1">Hey there!</p>
    <p> I am a student studying Computer Science at Cal Poly, and a programmer in my free time. I was borned and raised in Bulgaria. For the past 4 years I have been living in the US, working on getting my degree done. I like programming, and creating.</p>
    <p id="highlight"> About this website </p>
    <p> Here you will mainly find blog posts about technologies I use, and configurations for my machine. At some point you will also be able to read about projects that I am currently involved in, as well as some blog posts about my classes.</p>
    <p> This website was created mainly for practice, and documentation for myself (or others, like you, who happen to stumble on it).</p>
    <p id="greeting2">Thanks for visiting.</p>
  </div>
</div>
