<div class=main>
  <div class="left-side">
    <img id="profile_pic" alt="Photo of Stoyan" src='/images/photos/portrait_photo.jpg'>
    <h1 id="logo">Stoyan <br>Shukerov</h1>
    <a class="icon" href='https://github.com/shukerov'>
      <%= partial '/images/icons/github.svg' %>
    </a>
    <a class="icon" href='https://instagram.com/sshukerov'>
      <%= partial '/images/icons/instagram.svg' %>
    </a>
    <a class="icon" href='mailto:sbshukerov@gmail.com'>
      <%= partial '/images/icons/email.svg' %>
    </a>
  </div>
  <div class="right-side">
    <div id="content">
      <p id="greeting1"> Hey there,</p>
      <p id="greeting2">thanks for visiting my website.</p>

      <p id="highlight"> whoami </p>
      <p> I am a student studying Computer Science at Cal Poly, and a programmer in my free time. I was borned and raised in Bulgaria, but have been living in the US for the past 4 years. Enough about me though, there is a lot to know, and if you are interested just shoot me an email.</p>

      <p id="highlight"> About this Website </p>
      <p> Here you will mainly find blog posts about technologies I use, and configurations for my machine. At some point you will also be able to read about projects that I am currently involved in, as well as some blog posts about my classes.</p>
      <p> This website was created mainly for practice, and documentation for myself (or others, like you, who happen to stumble on it). Don't take too seriously anything you read on here, and if you find something that bothers you please don't hesitate to shoot me an email.</p>
    </div>
  </div>  
</div>