<div class=wrapper>
  <div class="wrapper-item">
    <div class="left">
      <img id="profile-pic" alt="Photo of Stoyan" src='/images/photos/portrait_photo.jpg'>
      <div id="icons-container">
        <a class="icon" href='https://github.com/shukerov'>
          <%= partial '/images/icons/github.svg' %>
        </a>
        <a class="icon" href='https://instagram.com/sshukerov'>
          <%= partial '/images/icons/instagram.svg' %>
        </a>
        <a class="icon" href='mailto:sbshukerov@gmail.com'>
          <%= partial '/images/icons/email.svg' %>
        </a>
      </div>
      <h1 id="logo">Stoyan<br>Shukerov</h1>
    </div>
  </div>
  <div class="wrapper-item">
     <span id="hello-text">Hey there!</span>
    <p> I am an international student studying Computer Science at Cal Poly, and a programmer in my free time. I was born and raised in Bulgaria. For the past 4 years I have been living in the US, working on getting my degree done. I like programming, creating, hiking, riding my bicycle, surfing and this list is about to get too long if I keep this going.</p>
    <p id="highlight"> About this website </p>
    <p> This website was created mainly for practice, and documentation for myself (or others, like you, who happen to stumble on it).</p>
    <p> Here you will mainly find blog posts about technologies I use, and configurations for my machine. At some point you will also be able to read about projects that I am currently involved in, as well as some blog posts about my classes.</p>
    <span id="goodbye-text">Thanks for visiting.</span>
  </div>
</div>
