<main class='index' id='home'>
<div class=wrapper>
  <div class="wrapper-item left">
      <img id="profile-pic" alt="Photo of Stoyan" src='/images/photos/crushing_rocks.jpg'>
      <div id="icons-container">
        <a class="icon" href='https://github.com/shukerov'>
          <%= partial '/images/icons/github.svg' %>
        </a>
        <a class="icon" href='https://instagram.com/sshukerov'>
          <%= partial '/images/icons/instagram.svg' %>
        </a>
        <a class="icon" href='mailto:sbshukerov@gmail.com'>
          <%= partial '/images/icons/mail.svg' %>
        </a>
      </div>
      <h1 id="logo">Stoyan<br>Shukerov</h1>
  </div>
  <div class="wrapper-item right">
     <span id="hello-text">Hello,</span>
     <p class='index-text'>my name is Stoyan. I was born and raised in Bulgaria. I moved to the states in 2013 to pursue a B.S. in Computer Science.<p>
     <p class= 'index-text'>I graduated from California Polytechnic State University a month ago. I am on a quest to become a better software developer, and meanwhile have fun.</p>
     <p class="current">Recently, I have been working on - <a href='https://github.com/shukerov/dataforme' target='_blank'>dataforme.xyz</a></p>
    <p id="highlight"> About this website </p>
    <p> This website was created mainly for practice, and documentation for myself. I tend to remember things better when I write about them.</p>
    <p> Here you will mainly find blog posts about technologies I use, and configurations for my machine.</p>
    <span id="goodbye-text">Thanks for visiting, and be sure to checkout my <br><code><a href='/blog'>blog</a></code> & <code><a href='/projects'>projects</a></code>.</span>
  </div>
</div>
</main>
