<h1>Stoyan Shukerov</h1>
<ul>
   <li>GitHub</li>
   <li>Instagram</li>
   <li>LinkedIn</li>
   <li>Email</li>
</ul>

I am a student, programmer and hopefully one day a computer scientist.
This website was created mainly for practice, and documentation for myself (or others who happen to stumble on this blog). I am currently going to school at CalPoly, so the blog is going to be a mix of unrelated class information and machine set up configuration.