<div class=post>
  <h1 id="logo">Stoyan <br>Shukerov</h1>
  <div id=icons>
    <a href='https://github.com/shukerov'>
      <%= partial '/images/icons/github.svg' %>
    </a>
    <a href='https://instagram.com/sshukerov'>
      <%= partial '/images/icons/instagram.svg' %>
    </a>
    <a href='mailto:sbshukerov@gmail.com'>
      <%= partial '/images/icons/email.svg' %>
    </a>
  </div>
  I am a student, programmer, and a future computer scientist.
  This website was created mainly for practice, and documentation for myself (or others who happen to stumble on it). I am currently going to school at CalPoly, so therefore here you can read about random class programs and machine set up configurations.
</div>