<h1 id="logo">Stoyan <br>Shukerov</h1>
<ul>
   <li>GitHub</li>
   <li>Instagram</li>
   <li>LinkedIn</li>
   <li>Email</li>
</ul>

I am a student, programmer, and a future computer scientist.
This website was created mainly for practice, and documentation for myself (or others who happen to stumble on it). I am currently going to school at CalPoly, so therefore here you can read about random class programs and machine set up configurations.