<div class="note">
  <p>Note: Project page is still under development. Projects will soon have dedicated pages!</p>
</div>
<div class="project">
  <h2>Maze Shelf</h2>
  <div class="image_box">
    <%= image_tag 'images/projects/600x400.png' %>
  </div>
  <p>A shelf with some controllable RGB LEDs. I used a Raspberry Pi running a small Flask application to pull this off.</p>
</div>
<div class="project">
  <h2>Dxf To KiCad Converter</h2>
  <%= image_tag 'images/projects/600x400.png' %>
  <p>A python program that takes a PCB exported from Microwave Office and converts it to a KiCad Board file. The program associates net lists, places footprints in desired locations, and has the option to map Microwave Office dxf export layers to user-selected KiCad layers.</p>
</div>
<div class="project">
  <h2>Beesbot Timetracker</h2>
  <%= image_tag 'images/projects/600x400.png' %>
  <p>A Ruby on Rails app built for our team Beesbot. It lets users clock in/out, add timelogs, and tasks. It also provides analytics.</p>
</div>
<div id="bottom-menu">
  <a href="#top">To the top!</a>
</div>
